body {
	text-align: center;
	padding: auto;
	font-family: "Roboto Mono", monospace;
	color: black;
	background: #4568dc; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#b06ab3,
		#4568dc
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#b06ab3,
		#4568dc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-expand {
	color: #242582;
	font-size: 2em;
	font-weight: bolder;
}

h1 {
	color: white;
}

h5 {
	color: black;
	font-size: 3em;
	text-transform: capitalize;
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px;
}

.pokemonImage {
	float: right;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
	background-color: #86808d;
	border-color: #86808d;
}

.btn-primary:hover {
	background-color: #333233;
	border-color: #333233;
}
#header {
	color: white;
	background: #615e65;
	height: 200px;
}

@media (max-width: 1200px) {
	h1 {
		font-weight: bold;
		font-size: 3rem;
	}
}
