body {
	text-align: center;
	padding: auto;
	font-family: 'Roboto Mono', monospace;
	background-color: #5c5cf2;
	color: #99738e;
}

.navbar-expand {
	color: #242582;
	font-size: 2em;
	font-weight: bolder;
}

h1 {
	text-align: center;
	color: #d7dcdf;
	font-weight: bold;
	font-size: 30px;
}

h5 {
	color: black;
	font-size: 3em;
	text-transform: capitalize;
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px;
}

.pokemonImage {
	float: right;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
	background-color: #86808d;
	border-color: #86808d;
}

.btn-primary:hover {
	background-color: #333233;
	border-color: #333233;
}
#header {
	background: url(https://images.unsplash.com/photo-1518932945647-7a1c969f8be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
}
